* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 130px 0 130px;
    position: relative;
    max-width: 1440px;
}

.nav-bar {
    max-height: 80px;
}

.nav-logo {
    font-weight: 400;
    font-size: 36px;
    letter-spacing: -0.1em;
    color: #000;
    text-transform: uppercase;
}

.navigation-panel {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-buttons {
    display: flex;
    list-style: none;
    max-width: 491;
    justify-content: center;
}

.nav-button {
    margin-left: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #787282;
}

.youtube-button {
    display: flex;
    padding-top: 15px;
    display: block;
    text-decoration: none;
    border: 2px solid #3f41a6;
    border-radius: 22px;
    width: 145px;
    height: 57px;
    font-weight: 600;
    font-size: 18px;
    color: #3f41a6;
    text-align: center;
}

.youtube-button svg {
    vertical-align: middle;
}

.main-content {
    margin-top: 100px;
    max-height: 814px;
}

.main-content__wrapper {
    display: flex;
}

.main-header {
    margin-top: 60px;
    font-weight: 700;
    font-size: 96px;
    line-height: 125%;
    color: #1a093c;
}

.main-descr {
    margin-top: 40px;
    width: 275px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(26, 9, 60, 0.8);
}

.main-button {
    margin-top: 40px;
    display: flex;
    border-radius: 50px;
    width: 266px;
    height: 80px;
    background: #3f41a6;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border-width: 0;
}

.main-button svg {
    margin: 0 8px;
}

.main-photo {
    margin-top: 80px;
}

.secondary-photos {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.make-it__wraper {
    display: flex;
}

.make-it__photos {
    display: flex;
    min-width: 483px;
    justify-content: space-between;
}

.sep-photo {
    margin-top: 70px;
    display: block;
    width: 180px;
}

.tree-photo {
    margin-top: 70px;
    display: block;
    width: 236px;
}

.make-it {
    margin-top: 100px;
}

.make-it__text {
    max-width: 435px;
    margin-top: 105px;
    margin-left: 110px;
}

.make-it__text h3 {
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #3f41a6;
}

.make-it__slogan {
    padding-left: 10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #1a093c;
}

.make-it__descr {
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(26, 9, 60, 0.8);
}

.why-choose-us {
    margin-top: 100px;
    display: flex;
}

.why-choose-us h2 {
    margin-top: 120px;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #1a093c;
    text-align: center;

}

.cause__wraperr {
    margin-top: 80px;
    display: flex;
    width: 1007px;
    justify-content: space-between;
    align-items: center;
}

.cause {
    width: 267px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.cause h3 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    color: #1a093c;
}

.cause p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #1a093c;
}

.round {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    fill: #fff;
    box-shadow: 0 4px 24px -2px rgba(0, 0, 0, 0.15);
}

.why-galery {
    align-self: center;
    width: 72px;
    height: 72px;
}

.why-location {
    align-self: center;
    width: 100px;
    height: 100px;
}

.why-camera {
    align-self: center;
    width: 85px;
    height: 85px;
}

.counter {
    margin-top: 100px;
}

.counter__wrapper {
    position: relative;
    padding-top: 120px;
    display: flex;
    z-index: 1;

    img {
        height: 550px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
}

.counter__desc {
    margin-left: 120px;
}

.counter__text {
    margin-top: 20px;

    h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 125%;
        color: #1a093c;
    }

    p {
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        color: rgba(26, 9, 60, 0.8);
    }
}

.counter-items {
    margin-top: 180px;
    display: flex;
    width: 498px;
    justify-content: space-between;
    text-align: center;

    h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 125%;
        color: #1a093c;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        color: rgba(26, 9, 60, 0.8);
    }
}

.counter__bg {
    position: absolute;
    left: 0vh;
    top: 488px;
    width: 1440px;
    height: 253px;
    background: #f6f5fb;
    z-index: 0;
}

.floral-design {
    margin-top: 220px;
}

.floral-design__desc {
    padding-top: 120px;

    h3 {
        width: 570px;
        font-weight: 700;
        font-size: 48px;
        line-height: 125%;
        color: #1a093c;
    }

    p {
        margin-top: 20px;
        width: 398px;
        font-weight: 400;
        font-size: 18px;
        color: rgba(26, 9, 60, 0.8);
    }

    button {
        margin-top: 40px;
    }
}

.floral-design__photos {
    display: flex;
    justify-content: space-between;
}

.floral-photo__text {
    p {
        font-weight: 700;
        font-size: 48px;
        line-height: 125%;
        color: #1a093c;

        span {
            font-weight: 400;
            font-size: 16px;
            color: rgba(26, 9, 60, 0.8);
        }
    }
}

.floral-photo__1 {
    margin-top: 80px;
}

.floral-photo__2 {
    margin-top: -80px;
}

.floral-photo__3 {
    margin-top: -240px;
}

.our-works {
    margin-top: 220px;
}

.our-works__desc {
    h2 {
        font-weight: 600;
        font-size: 60px;
        color: #1a093c;
    }

    p {
        padding-top: 20px;
        font-weight: 400;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.75);
    }
}

.our-works__photo {
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(3, 402px);
    gap: 20px;

    img {
        width: 380px;
        height: 402px;
        object-fit: cover;
    }
}

.get-started__wrapper {
    padding-left: 100px;
    padding-top: 146px;
    margin-top: 190px;
    border-radius: 100px;
    background-color: #431898;
    height: 600px;

    img {
        position: absolute;
        left: 860px;
        top: -100px;
    }
}

.get-started__text {
    width: 630px;

    h2 {
        font-weight: 600;
        font-size: 64px;
        color: #fff;
    }

    p {
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);
    }
}

.btn_inverce {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    background-color: #fff;
}

footer {
    margin-top: 120px;
    height: 80px;
    div{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-weight: 600;
        font-size: 20px;
        color: #3c3842;
    }
    h3 {
        opacity: 0.3;
    }
}

.footer-nav {
    width: 498px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}